doctype html
html(lang="en",data-bs-theme="dark")
    include ../includes/head.pug
    +head("Hdert's General Purpose Web Calculator", "A general purpose calculator written in Zig, compiled to WebAssembly, now on the web!", "../img/icons/calculator-fill.png", false, "index", "An image of a calculator")
    body.min-vh-100.d-flex.flex-column
        .container-fluid.vh-100
            .justify-content-center.d-flex.flex-wrap.align-content-center.vh-100
                form#form.col-12.col-sm-8
                    .input-group 
                        .form-floating
                            input.form-control#input(type="text", name="input", placeholder="9+10")
                            label.form-label(for="input") Input
                        input.btn.btn-primary#submit(type="submit",value="=")
        #modal.modal.fade(tabindex="-1")
            .modal-dialog
                .modal-content
                    .modal-header
                    button.btn-close(
                        type="button",
                        data-bs-dismiss="modal",
                        aria-label="Close"
                    )
                    #modalBody.modal-body
    script(src="../js/main.js", type="module")
    script(src="../js/includes.js", type="module")
