doctype html
html(lang="en", data-bs-theme="dark")
  include ../includes/head.pug
  +head("Waerwig - Calculator", "A general purpose calculator written in Zig, compiled to WebAssembly, now on the web!", "../img/icons/calculator-fill.png", false, "index", "An image of a calculator")
  body.min-vh-100.d-flex.flex-column.text-light
    .container-fluid.vh-100
      .justify-content-center.d-flex.flex-wrap.vh-100.align-items-start
        .col-12.col-sm-8.d-flex.flex-wrap.mt-3
          #upper-row.upper-row.row.w-100.ms-0.overflow-y-auto.pt-4.overflow-x-hidden
          .row.w-100.ms-0
            form#form.col-12.p-0
              .input-group
                .form-floating
                  input#input.form-control.border-secondary.text-light(
                    type="text",
                    name="input",
                    placeholder="9+10",
                    autofocus,
                    disabled
                  )
                  label#inputLabel.form-label.text-light(for="input") Loading...
                button#submit.btn.btn-primary.fs-3(type="button", disabled) =

          #lower-row.lower-row.row.w-100.ms-0
  script(src="../js/main.js", type="module")
  //- script(src="../js/includes.js", type="module")
